#lae-container {
    display: flex;
    flex-direction: column;
}

#lae-button-container {
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
}

#lae-export-button {
    text-align: center;
    font-weight: bolder;
    padding-left: 4rem;
    padding-right: 4rem;
    border: 2px solid green;
}

#lae-toggle-list-button {
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    border: 2px solid
}

#lae-download-list {
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
    border: 2px dotted;
    height: 90vh;
}

.lae-banner {
    color: lightblue;
}

.lae-banner::before {
    content: " \2190 ";
}

.lae-banner::after {
    content: " \2192 ";
}

#lae-progress-bar {
    width: 60%;
    border: 1px solid;
}

#lae-progress {
    white-space: nowrap;
    text-align: center;
}