body {
    min-width: 200px;
}

#lae-container {
    display: flex;
    flex-direction: column;
}

#lae-main {
    display: none;
}

#lae-export-button {
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

#lae-explanation-banner {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
}

#lae-download-list {
    text-align: center;
}

/* https://stackoverflow.com/a/53778525/404271 */
#lae-download-list {
    display: contents;
    list-style: none;
}

#lae-download-list li {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#lae-download-list li:nth-child(even) {
    background-color: lightgray;
}

#lae-status {
    background-color: lightcyan;
    text-align: center;
}